/* General */
body {
	font-family: 'Lato', sans-serif;
}

/*Header*/
.container-fluid {
	z-index: 1;
	position: absolute;
	border-bottom: 3px solid white; 
}
.navbar-brand {
	padding-left: 220px;
	font-size: 32px;
	font-family: 'Bree Serif', serif;
	font-weight: 700;
	padding-top: 10px;
	color: #393536;
}
.nav-link {
	padding-top:20px;
	left:490px;
	color: #393536;
	position: absolute;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
}
.nav-link:hover {
	color:#393536;
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
}

@keyframes shake {  
	10%, 90% {
    	transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
   		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-4px, 0, 0);
	}

	40%, 60% {
	    transform: translate3d(4px, 0, 0);
	}
}
.header {
	position: relative;
	background-image:url("../img/header.png");
	background-size:cover;
	width: 100%;
	height: 100%;
	padding: 345px 285px 285px 250px;
	background-repeat: no-repeat;
	text-align: center;
	font-family: 'Bree Serif', sans-serif;
	color: #000;
	font-weight: 700;
	margin-bottom: 120px;
}
.header:before {
	position: absolute;
	display: block;
	content: '';
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: rgba(255,255,255,.6);
}
.header h1 {
	position: relative;
	font-size: 6rem;
	line-height: normal;
	padding-top: 35px;
}
.header p {
	position: relative;
	font-size: 36px;
	padding-top: 45px;
}

/* Profile */
.profile-img {
	text-align: center;
}
.profile-img img {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.text {
	text-align: center;
}
.text h1 {
	position: relative;
	width: 100%;
	font-family: 'Bree Serif', sans-serif;
	font-size: 36px;
	font-weight: 700;
	line-height: initial;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 50px;
}
.text h1 span {
	position: relative;
	padding: 0 20px;
	background-color: #fff;
}
.text h1:before {
	position: absolute;
	display: block;
	content: "";
	width: 100%;
	height: 3px;
	top: 50%;
	background-color: #aaa;
}
.text p {
	margin-bottom: 50px;
}

/* About me */
.about-me {
	text-align: center;
}
.about-me i{
	width: 75px;
	height: 75px;
	border-radius: 50%;
	background-color: purple;
	color: #fff;
	line-height: 75px;
	margin-bottom: 20px;
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.div-border {
	width: 80px;
	border:2px solid #aaa;
	margin: auto;
	margin-bottom: 20px;
}

/*Portfolio*/
.line {
	font-size: 18px;
	font-weight: 700;
	color: #393536;
	text-transform: uppercase;
	margin-bottom: 100px;
}
.portfolio-img {
	width: 100%;
	height: auto;
	margin-left:45px;
	margin-bottom: 60px;
	opacity:1.0;
}
.portfolio-img:hover {
	background-color: green;
	opacity: 0.2;
}

/*Footer*/
.footer {
	height: 175px;
	background-color: #2A2A2A;
	text-align: center;
	border:none;
}
.footer a {
	margin-left: 10px;
	font-size: 24px;
	color: white;

}
.footer a:hover {
	color: gray;
}
.footer a i {
	padding-top: 30px;
	margin-bottom: 20px;
}
.mail {
	text-align: center;
	color: white;
}
@media only screen and (max-width: 500px) {
    body {
        background-color: lightblue;
    }
}